{% extends "base.html" %}

{% block content %}
    {% load custom_filters %}
    {% if error %}
        Error: {{ error }}
    {% else %}
        <h1 class="text-center">{{ player.name }}</h1>
        <h2>Properties</h2>
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>Name</td><td>{{ player.name }}</td></tr>
                <tr><td>Points</td><td>{{ total_points }}</td></tr>
                <tr><td>Items Found</td><td>{{ items_found }}</td></tr>
                <tr><td>Items Purchased</td><td>{{ items_purchased }}</td></tr>
                <tr><td>UUID</td><td><a href="secondlife:///app/agent/{{ player.uuid }}/inspect">{{  player.uuid }}</a></td></tr>
            </tbody>
        </table>
        <br />
        <h2>Transactions</h2>
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Points</th>
                    <th>Item</th>
                    <th>Player Location</th>
                    <th>Item Location</th>
                    <th class="text-right">Date</th>
                </tr>
            </thead>
            <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.get_type_name }}</td>
                    <td>{{ transaction.points }}</td>
                    <td><a href="{% url 'frontend:view_item' transaction.hunt.id transaction.item_id %}">{{ transaction.item }}</a></td>
                    <td>{{ transaction | transaction_location | safe }}</td>
                    <td>{{ transaction | transaction_item_location| safe }}</td>
                    <td class="text-right">{{ transaction.created_on }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
