{% extends "base.html" %}

{% block content %}
    {% if error %}
        Error: {{ error }}
    {% else %}
    {% load custom_filters %}
        <h1 class="text-center">{{ hunt.name }}</h1>
        <h2>Overview</h2>
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="{% url 'frontend:view_hunt_players' hunt.id %}">Players</a></td>
                    <td>{{ player_count }}</td>
                </tr>
                <tr>
                    <td><a href="{% url 'frontend:view_hunt_prizes' hunt.id %}">Prizes</a></td>
                    <td>{{ prize_count }}</td>
                </tr>
                <tr>
                    <td><a href="{% url 'frontend:view_hunt_items' hunt.id %}">Items</a></td>
                    <td>{{ item_count }}</td>
                </tr>
                <tr>
                    <td><a href="{% url 'frontend:view_hunt_regions' hunt.id %}">Regions</a></td>
                    <td>{{ region_count }}</td>
                </tr>
            </tbody>
        </table>
    {% endif %}
{% endblock %}
